Flask==0.8
Flask-OAuth==0.12
Jinja2==2.6
numpy==1.6.2
oauth==1.0.1
oauth2==1.5.211
oauthlib==0.6.1
pymongo==2.6.3
python-firebase==1.1
scikit-learn==0.11
requests==2.2.1
requests-oauthlib==0.4.0
python-digitalocean==0.7
