<!doctype html>
<title>{{ aggregator }}</title>
<head>
<link rel="shortcut icon" href={{ url_for('static',filename='favicon.ico')}}>
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

</style>
<script src="/static/d3.v3.js"></script>
<script src="https://cdn.firebase.com/v0/firebase.js"></script>
</head>
<body>
<script>
var agg = new Firebase('https://hivemind-plus.firebaseio.com/{{username }}/{{ aggregator }}');

agg.on('value', function(snapshot) {
  if(snapshot.val() === null) {
    alert('This aggregator does not exist');
  } else {
    data = d3.values(snapshot.val());
    console.log(data);
  }
});
</script>
<p><a href="{{ aggregator }}/internal_temp">Internal Temperature</a></p>
<p><a href="{{ aggregator }}/internal_temp">External Temperature</a></p>
<p><a href="{{ aggregator }}/internal_temp">Internal Humidity</a></p>
<p><a href="{{ aggregator }}/internal_temp">External Humidity</a></p>
<p><a href="{{ aggregator }}/internal_temp">Frequency</a></p>
<p><a href="{{ aggregator }}/internal_temp">Amplitude</a></p>
</body>
