<!doctype html>
<html>
    <head>
        <title>{{ aggregator }}</title>
        <link rel="shortcut icon" href={{ url_for('static',filename='favicon.ico')}}>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='graph.css')}}>
        <script src={{ url_for('static', filename='d3.v3.js')}}></script>
        <script src="https://cdn.firebase.com/v0/firebase.js"></script>
        <script src={{ url_for('static', filename='jquery-1.10.2.min.js')}}></script>
    </head>
    <body>
        <center>
            <form action="http://hivemind.mobi/tweet" method="post">
                <input type="log" name="log" value="#{{aggregator}}">
                <input type="submit" value="submit">
            </form>
            <script>
                var firebase = new Firebase('https://{{ firebase }}.firebaseio.com/aggregators/{{ aggregator }}/hives');
                firebase.on('value', function(snapshot) {
                    if(snapshot.val() === null) {
                        alert('This aggregator does not exist');
                    } else {
                        aggregator = snapshot.val();
                        $.each(aggregator, function(key, value) {
                            var firebase = new Firebase('https://{{ firebase }}.firebaseio.com/hives/' + value);
                            firebase.once('value', function(snapshot) {
                                hive = snapshot.val();
                                $("center").append('<p><a href=/hive/' + value + '>' + hive.name + '</a></p>');
                            });
                        });
                    }
                });
            </script>
        </center>
    </body>
</html>
