<!doctype html>
<html>
    <head>
        <title>{{ aggregator }}</title>
        <link rel="shortcut icon" href={{ url_for('static',filename='favicon.ico')}}>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='graph.css')}}>
        <script src={{ url_for('static', filename='d3.v3.js')}}></script>
        <script src="https://cdn.firebase.com/v0/firebase.js"></script>
        <script src={{ url_for('static', filename='jquery-1.10.2.min.js')}}></script>
    </head>
    <body>
        <center>
            <script>
                var agg = new Firebase('https://{{ firebase }}.firebaseio.com/aggregator/{{ aggregator }}');
                agg.on('value', function(snapshot) {
                    if(snapshot.val() === null) {
                        alert('This aggregator does not exist');
                    } else {
                        aggregator = snapshot.val();
                        $.each(aggregator, function(key, value) {
                            $("center").append('<p><a href=http://hivemind.mobi/aggregator/' + key + '>' + value + '</a></p>');
                        });
                    }
                });
            </script>
        </center>
    </body>
</html>
