<!doctype html>
<head>
    <title>{{ aggregator }}</title>
    <link rel="shortcut icon" href={{ url_for('static',filename='favicon.ico')}}>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='graph.css')}}>
    <script src={{ url_for('static', filename='d3.v3.js')}}></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src={{ url_for('static', filename='jquery-1.10.2.min.js')}}></script>
</head>
<body>
    <script>
        (function() {
            var firebase = new Firebase('https://{{ firebase }}.firebaseio.com/{{ username }}/{{ aggregator }}');
            var margin = {top: 20, right: 20, bottom: 40, left: 40},
                width = $(window).width() - margin.left - margin.right - 40,
                height = $(window).height() - margin.top - margin.bottom - 66;
            var parseDate = d3.time.format("%Y-%M-%d-%H-%M-%S").parse;
            var x = d3.time.scale()
                .range([0, width]);
            var y = d3.scale.linear()
                .range([height, 0]);
            var color = d3.scale.category10();
            var xAxis = d3.svg.axis()
                .scale(x)
                .orient("bottom");
            var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left");
            var svg = d3.select("body").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
            var tooltip = d3.select("body").append("div")
                .attr("class", "tooltip")
                .style("opacity", 0);

            firebase.on('value', function(snapshot) {
                if(snapshot.val() === null) {
                    alert('This aggregator does not exist');
                } else {
                    data = d3.values(snapshot.val());
                    data.forEach(function(d) {
                        d.time = parseDate(d.time)
                        if (isNaN(d.{{graph}})) {
                            d.{{graph}} = +0;
                        } else {
                            d.{{graph}} = +d.{{graph}};
                        }
                    });
                    x.domain(d3.extent(data, function(d) { return d.time; })).nice();
                    y.domain(d3.extent(data, function(d) { return d.{{graph}}; })).nice();
                    svg.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")")
                        .call(xAxis)
                        .append("text")
                        .attr("class", "label")
                        .attr("x", width)
                        .attr("y", -6)
                        .style("text-anchor", "end")
                        .text("Time");
                    svg.append("g")
                        .attr("class", "y axis")
                        .call(yAxis)
                        .append("text")
                        .attr("class", "label")
                        .attr("transform", "rotate(-90)")
                        .attr("y", 6)
                        .attr("dy", ".71em")
                        .style("text-anchor", "end")
                        .text("{{graph}}")
                    svg.selectAll(".dot")
                        .data(data)
                        .enter()
                        .append("circle")
                        .attr("class", "dot")
                        .attr("r", 1.0)
                        .attr("cx", function(d) { return x(d.time); })
                        .attr("cy", function(d) { return y(d.{{graph}}); })
                        .style("fill", function(d) { return color(d.node); })
                        .style("stroke", function(d) { return color(d.node); })
                        .on("mouseover", function(d) {
                            tooltip.transition()
                                .duration(200)
                                .style("opacity", .9);
                            tooltip.html(d["node"])
                                .style("left", (d3.event.pageX + 20) + "px")
                                .style("top", (d3.event.pageY - 5) + "px");
                        })
                        .on("click", function(d) {
                            tooltip.transition()
                                .duration(200)
                                .style("opacity", .9);
                            tooltip.html(d["node"])
                                .style("left", (d3.event.pageX + 20) + "px")
                                .style("top", (d3.event.pageY - 5) + "px");
                        })
                        .on("mouseout", function(d) {
                            tooltip.transition()
                                .duration(500)
                                .style("opacity", 0);
                        });
                    var legend = svg.selectAll(".legend")
                        .data(color.domain())
                        .enter().append("g")
                        .attr("class", "legend")
                        .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });
                    legend.append("rect")
                      .attr("x", width - 18)
                      .attr("width", 18)
                      .attr("height", 18)
                      .style("fill", color);
                    legend.append("text")
                      .attr("x", width - 24)
                      .attr("y", 9)
                      .attr("dy", ".35em")
                      .style("text-anchor", "end")
                      .text(function(d) { return d; });
                }
            });
        })();
    </script>
</body>
