<!doctype html>
<html>
    <head>
        <title>{{ hive }}</title>
        <link rel="shortcut icon" href={{ url_for('static',filename='favicon.ico')}}>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='hive.css')}}>
        <script src={{ url_for('static', filename='d3.v3.js')}}></script>
        <script src="https://cdn.firebase.com/v0/firebase.js"></script>
        <script src={{ url_for('static', filename='jquery-1.10.2.min.js')}}></script>
    </head>
    <body>
        <center>
            <form action="http://hivemind.mobi/tweet" method="post">
                <input type="log" id="log" name="log" value="">
                <input type="submit" value="submit">
            </form>
            <script>
            
                // List of Logs
                (function() {
                    var firebase = new Firebase('https://{{ firebase }}.firebaseio.com/hives/{{ hive }}/logs');
                    firebase.on('value', function(snapshot) {
                        if(snapshot.val() === null) {
                            alert('This hive does not have any logs');
                        } else {
                            logs = snapshot.val();
                            $.each(logs, function(key, value) {
                                var firebase = new Firebase('https://{{ firebase }}.firebaseio.com/logs/' + value);
                                firebase.once('value', function(snapshot) {
                                    log = snapshot.val();
                                    $("center").append('<p><a href=/log/' + value + '>' + log.date + '</a> ' + log.text + '</p>');
                                });
                            });
                        }
                    });
                })();
            </script>
        </center>
    </body>
</html>
