<!doctype html>
<title>HiveMind&trade;</title>
<link rel="shortcut icon" href=/static/favicon.ico>
<html>
<head>
<style>
body {
  font: 10px sans-serif;
}

center {
	width:320px;
	height:240px;
	position:absolute;
	left:50%;
	top:33%;
	margin:-40px 0 0 -160px;
}
</style>
<script src="static/d3.v3.js"></script>
</head>
<body>
    <center>
        <img src="static/logo.png"></img>
        <p>Hivemind&trade;: Remote Monitoring for Beekeepers</p>
        <form action="#" onsubmit="location.href = this.elements.date.value; return false;">
            <p><input type="text" name="user"></p>
            <p><input type="password" name="pwd"></p>
            <p><input type="submit" value="Submit"></p>
        </form>
      </form>
    </center>
  </body>
</html>
