<!doctype html>
<html>
    <head>
        <title>HiveMind&trade;</title>
        <link rel="shortcut icon" href=/static/favicon.ico>
        <link rel="stylesheet" type="text/css" href="static/index.css">
    </head>
    <body>
        <center>
            <img src="static/logo.png"></img>
            <p>Hivemind&trade;: Remote Monitoring for Beekeepers</p>
            <form action="/login">
                <input type="submit" value="login" />
            </form>
        </center>
    </body>
</html>
