<!doctype html>
<title>HiveMind&trade;</title>
<link rel="shortcut icon" href={{ url_for('static',filename='favicon.ico')}}>
<html>
  <head>
    <script src="static/d3.v3.js"></script>
  </head>
  <body>
    <center>
      <img src="static/logo.png"></img>
      <p>Hivemind&trade; is a wireless monitoring platform for beekeepers</p>
      <form action="#" onsubmit="location.href = this.elements.date.value; return false;">
	<input type="text" name="date">
	<input type="submit" value="User">
      </form>
      <p>
	<a href="http://kickstarter.com">Kickstarter</a>
      </p>
    </center>
  </body>
</html>
