<!doctype html>
<html>
    <head>
        <title>{{ username }}</title>
        <link rel="shortcut icon" href={{ url_for('static',filename='favicon.ico')}}>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='user.css')}}>
        <script src={{ url_for('static', filename='d3.v3.js')}}></script>
        <script src="https://cdn.firebase.com/v0/firebase.js"></script>
        <script src={{ url_for('static', filename='jquery-1.10.2.min.js')}}></script>
    </head>
    <body>
        <form action="http://hivemind.mobi/tweet/" method="get">
            <input type="text" name="log" value="entry">
            <input type="submit" value="submit">
        </form>
        <script>
            var firebase = new Firebase('https://{{ firebase }}.firebaseio.com/users/{{ username }}');
            firebase.on('value', function(snapshot) {
                if(snapshot.val() === null) {
                    alert('No data for {{ username }} exists');
                } else {
                    firebase.off();
                    user = snapshot.val();
                    $.each(user, function(key, value) {
                        $("body").append('<p>' + key + ':' + value + '</p>');
                    });
                }
            });
        </script>
    </body>
</html>
