<!doctype html>
<html>
    <head>
        <title>{{ username }}</title>
        <link rel="shortcut icon" href={{ url_for('static',filename='favicon.ico')}}>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='user.css')}}>
        <script src={{ url_for('static', filename='d3.v3.js')}}></script>
        <script src="https://cdn.firebase.com/v0/firebase.js"></script>
        <script src={{ url_for('static', filename='jquery-1.10.2.min.js')}}></script>
    </head>
    <body>
        <center>
            <script>
            
                // Bubbles Graph
                // Color is aggregator, size is num of samples
                (function() {
                    var firebase = new Firebase('https://{{ firebase }}.firebaseio.com/users/{{ username }}/aggregators');
                    var diameter = 960,
                        format = d3.format(",d"),
                        color = d3.scale.category20c();
                    var bubble = d3.layout.pack()
                        .sort(null)
                        .size([diameter, diameter])
                        .padding(1.5);
                    var svg = d3.select("body").append("svg")
                        .attr("width", diameter)
                        .attr("height", diameter)
                        .attr("class", "bubble");
                    var firebase = new Firebase('https://{{ firebase }}.firebaseio.com/users/{{ username }}/aggregators');
                    firebase.on('value', function(snapshot) {
                        if(snapshot.val() === null) {
                            alert('This user does not exist');
                        } else {
                            aggregators = snapshot.val(); // the sample ids
                            console.log(aggregators);
                        }
                    });
                })();
                
                // Aggregators List
                (function() {
                    var firebase = new Firebase('https://{{ firebase }}.firebaseio.com/users/{{ username }}/aggregators');
                    firebase.on('value', function(snapshot) {
                        if(snapshot.val() === null) {
                            alert('No data for {{ username }} exists');
                        } else {
                            user = snapshot.val();
                            $.each(user, function(key, value) {
                                var firebase = new Firebase('https://{{ firebase }}.firebaseio.com/aggregators/' + value);
                                firebase.once('value', function(snapshot) {
                                    aggregator = snapshot.val();
                                    $("center").append('<p><a href=/aggregator/' + value + '>' + aggregator.name + '</a></p>');
                                });
                            });
                        }
                    });
                })(); 
            </script>
        </center>
    </body>
</html>
